<h3></h3>
<img src="assets/images/belize_aerial.jpg">
<p>Belize may be a small country nestled between Mexico and Guatemala in Central America, but it is rapidly becoming one of the most popular visitor destinations in the region. Visitors to Belize can enjoy everything from world-class scuba diving and snorkeling on the Belize Barrier Reef to explorations of the jungle, including visiting ancient Maya ruins hidden deep in the rainforest.</p>
<p>It's no surprise that Belize has started to garner a lot of favorable press from leading travel publications. Lonely Planet recently ranked Belize as one of the top destinations to visit in 2019.</p>
